absl-py==2.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
craftground @ git+https://github.com/yhs0602/CraftGround@18a800f95118e26d1f8c834f9ea8b92ce8e4029a
cycler==0.12.1
decorator==4.4.2
docker-pycreds==0.4.0
Farama-Notifications==0.0.4
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.6.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.64.1
gymnasium==0.29.1
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
Jinja2==3.1.4
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.0
moviepy==1.0.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
proglog==0.1.10
protobuf==4.25.3
psutil==5.9.8
pygame==2.5.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
sb3_contrib==2.3.0
scipy==1.13.1
sentry-sdk==2.5.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
stable_baselines3==2.3.2
sympy==1.12.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
wandb==0.17.1
Werkzeug==3.0.3
zipp==3.19.2
